<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/modules.css">
  <title>Search for Google Books</title>
</head>
<body>
  <h1>SO THIS IS THE DETAILS VIEW</h1>
  <div class="searchResultsDiv">
      <ul>
        <li>
          <img src="<%= bookSearchArray.image_url %>" alt="">  
          <h3 class="title"><%= bookSearchArray.title %></h3>  
          <h3 class="authors"><%= bookSearchArray.authors %></h3>  
          <p class="description"><%= bookSearchArray.book_description %></p>  
          <h3 class="pubDate"><%= bookSearchArray.pubDate %></h3>
          <h3 class="isbn"><%= bookSearchArray.isbn %></h3>
          



          <a href=""> <button>save this book to your collection</button> </a>
       </li>
      </ul>
  </div>
</body>
</html>
