<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules/module5.css">
  <title>Search Books</title>
</head>
<body id="indexPage">
  <!-- <h1>Hello Fizzo - you did it and I love you</h1> -->
  <header>
    <h2>Best Books! - Your Saved List</h2>
    <h3>currently you have <%= bookSearchArray.length %> books in your database</h3>
    <nav class="navigation">
      <a href="/"> <button>go 2 saved list</button> </a>
      <a href="/searches/new"><button>go 2 new search</button> </a>
    </nav>
  </header>
  <div class="indexPageClass">
    <% for (let i=0; i< bookSearchArray.length; i++) { %>
      <ul>
        <li>
          <img src="<%= bookSearchArray[i].image_url %>" alt="">  
          <h3 class="title"><%= bookSearchArray[i].title %></h3>  
          <h4 class="authors"><%= bookSearchArray[i].authors %></h4>  
          <p class="description"><%= bookSearchArray[i].book_description %></p>  
          <h4 class="pub_date"><%= bookSearchArray[i].pub_date %></h4>
          <h4 class="isbn"><%= bookSearchArray[i].isbn %></h4>
          <a href="/books/<%= bookSearchArray[i].id %>" class="updateBtn"><button >details</button></a>
        </li>
      </ul>
  </div>
  <%  } %>  

</body>
</html>

